// line
.mark-line {
    border-bottom: 2px solid $primary;
    width: 160px;
}

// img
.user-photo {
    width: 56px;
    height: 56px;
    // 防止圖片變形
    object-fit: cover;
}

.account-icon {
    &:hover {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
    }
}

.bookmarks-icon {
    &:hover {
        font-variation-settings:
            'FILL' 1,
            'wght' 700,
            'GRAD' 0,
            'opsz' 84;
    }
}

// 點擊icon回到頂端
.back-top-block {
    position: fixed;
    right: 10px;
    bottom: 100px;

    .backtop-icon {
        font-size: 60px;
        font-variation-settings:
            'FILL' 1;
    }
}

// 使用者基本資料
.account-user {
    width: 112px;

    &-photo {
        width: 112px;
        height: 112px;
        object-fit: cover;
    }
}

.user-icon {
    font-variation-settings:
        'FILL' 1;

    & span:hover {
        transform: scale(120%);
        transition: all 0.3s;
    }
}

// <a>
// 後台管理的左側目錄
.mymenu {
    a:hover {
        color: #377dff;
    }
}