nav {
  z-index: 100;

  h1 {
    background-image: url(../images/logo5-medium.png);
    width: 153px;
    height: 31px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    object-fit: cover;

    @include lg {
      background-image: url(../images/logo5.png);
      width: 203px;
      height: 40px;
    }

    a {
      // 背景圖高度>超連結<a>所以要往下推7px，使<a>高度=背景圖片
      padding-bottom: 7px;
    }
  }

  .nav-menu {
    @include lg {
      margin-right: 200px;
    }

    @include xl {
      margin-right: 400px;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

footer {
  a:hover {
    background-color: $teal  !important;
    border: 0px;
  }
}

.modal {
  .modal-footer {
    a:hover {
      text-decoration: underline;
    }
  }
}

.back-top-block {
  a:hover {
    transform: scale(110%);
    transition: all 0.3s;
  }
}