// 次目錄
.second-menu {
    .fixed-top {
        top: 72px;
        z-index: 3;
    }

    .swiper-second-menu {
        .swiper-slide {
            text-align: center;
            font-size: 14px;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;

            a:hover {
                background-color: $secondary;
            }
        }

        // swiper預設左右按鈕為箭頭圖案跟後來新增的圖案，兩個是不同的生成方式，可以簡單想成兩種不同的偽元素。若要用新增圖案，就要把預設箭頭弄不見
        .swiper-button-next:after,
        .swiper-button-prev:after {
            // 把預設的偽元素 content 變成 ""（空值）
            content: '';
        }
    }
}

.second-menu-main {
    // 因次目錄置頂，要往上推其高度(37+12+12=61)，再把<main>向上推60px間距=61+60=121
    padding-top: 121px;

    // 文章左側列表區塊邊線，相連處不要有線條重疊
    .nav-item+.nav-item {
        border-top-width: 0 !important;
    }

    article {
        .card-title {
            @include star-rate;
        }
    }
}